.DS_Store
node_modules
.worktrees
.sst
.env
.idea
.vscode
.codex
*~
playground
tmp
dist
ts-dist
bundled-review
bundled-skills
.turbo
**/.serena
.serena/
/result
refs
.playwright-cli/
docs/superpowers/
Session.vim
/opencode.json
a.out
target
.scripts
.direnv/

# Local dev files
opencode-dev
UPCOMING_CHANGELOG.md
logs/
*.bun-build

.roo
.claude
.gemini
.gemini.log

.opencode
.costrict
.cospec
tsconfig.tsbuildinfo
.bunfig.toml
.cache
skills
packages/opencode/src/costrict/review/skill/
